
.container-header{
	height: 100px;
	width: 100%;
	background-color: #ff1c9c;
	display: flex;
}

.img-header{
	height: 50px;
	width: 156px;
	margin-top: 25px;
	padding-left: 30px;
}

.main-container{
	height: 1500px;
	width: 100%;
	background-color: #1c3cff;
	display: flex;
}

.container-footer{
	height: 200px;
	width: 100%;
	background-color: #ff9600;
	display: flex;

}

.container-aside{
	height: 1500px;
	width: 100%;
	background-color: #ea00ff;
	display: flex;

}